* {
padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*styles for menu bar*/
header {
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo p {
    margin-left: 100px;
}
header nav {
    position: absolute;
    right: 0;
    top: 20px;
}
header ul {
    list-style: none;

}
header ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

span {
    color: #8de0d2;
}
header ul li:last-child {
    margin-right: 100px;
}
/*end of styles for menu bar*/


.container {
    width: 1200px;
    margin: 0 auto;

}
.about {
/*background: linear-gradient(whitesmoke, lightgrey);*/
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(246,246,246,1) 68%, rgba(237,237,237,1) 94%, rgba(237,237,237,1) 100%);
    padding-top: 100px;
    height: 400px;
}
.right {
    float: left;
    width: 30%;
    box-sizing: border-box;


}
.left {
    text-align: center;
    width: 30%;
    float: left;
    margin-left: 150px;
}
.about h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 50px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.about p {
    margin-bottom: 30px;
    line-height: 18px;
    margin-bottom: 40px;
}
.about a {
    text-decoration: none;
    padding: 15px 20px 15px 20px;

    color: #fff;
    background-color: #8de0d2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 10px;

}
/*arrows*/
.arrow {
    float: left;
    width: 5%;
    margin-top: 150px;
}
i {
    border: solid #8de0d2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;

}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 100px;
    /*margin-bottom: 140px;*/
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    /*margin-left: 20px;
    margin-bottom: 140px;*/
}

/*styles for products section*/

.products {

    width: 100%;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-description {
    float: left;
    width: 33%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.img-description img {
    width: 100%;
}

.products h2 {
    position: relative;
}

/*Styles for underline*/
.products h2::after {
    content: '';

    width: 50%;
    position: absolute;
    left: 0;
    bottom: -5px;

    border-width: 0px 0 6px;
    border-style: solid;
    border-color: #8de0d2; /*blue on the page*/
}

.products p {
    margin-top: 20px;
}
.description-text {
    border: 1px solid #999999;
    padding: 20px 20px;
    height: 270px;
    margin-left: 10px;
}





/*Styles for price part*/
.price {
    background-color: #e9e9e9;
    height: 800px;
}
.price h2 {
 text-transform: uppercase;
    position: relative;
    margin-bottom: 100px;
    padding-top: 50px;

}
.price h2::after {
    content: '';

    width: 32%;
    position: absolute;
    left: 0;
    bottom: -5px;

    border-width: 0px 0 6px;
    border-style: solid;
    border-color: #8de0d2;
}
.page-part {
    width: 32%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #939393;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    background-color: #f1f1f1;
}

.big-circle {
    width: 70px;
    height: 70px;
    border: 2px solid #939393;
    border-radius: 50%;
    background-color: #f1f1f1;
    position: absolute;
    left: 160px;
    top: -52px;

    z-index: 2;
}
.small-circle {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #939393;
    position: absolute;
    top:-35px;
    left: 177px;
    z-index: 3;
}
.page-part h3 {
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 38px;
}
.price-month {
    width: 120px;
    height: 120px;
    border: 2px solid #939393;
    border-radius: 50%;
    position: absolute;
    left: 130px;
    top: 120px;
    background-color: #fff;
}
.price-month p {
    text-transform: uppercase;

}
sup {
    font-size: 16px;
}
.price-month p:first-child {
    padding-top: 25px;
font-size: 35px;
}
.plan {
    padding-top: 200px;
}

.plan p {
    margin: 0 0;
    background-color: #bdbdbd;
    line-height: 30px;
}
.plan p:nth-child(2n+1) {
    background-color: #a8a8a8;
}
.page-part a {
    text-decoration: none;
    display: inline-block;

    vertical-align: middle;
    height: 30px;
    width: 160px;
    padding-top: 10px;
    background-color: #8de0d2;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 120px;
}

/*Separate styles for middle box*/
.middle-box {
    background-color: #8de0d2;
    border: 2px solid #8de0d2;
}
.middle-box .big-circle {
    background-color: #8de0d2;
    border: 2px solid #8de0d2;
}
.middle-box .small-circle {
    background-color: #fff;
}
.middle-box h3 {
    color: #fff;
}
.middle-box .price-month {
    border: 2px solid #8de0d2;
    color: #8de0d2;
}
.middle-box .plan p:nth-child(2n+1) {
    background-color: #fff;
}
.middle-box a {
    background-color: #fff;
    color: #8de0d2;
}
/*End of separate styles for middle box*/